* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f2f2f;
}

.login_container {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  width: 60%;
  height: 400px;
  margin: 100px auto;
}

.login_imagen {
  border-radius: 20px 0px 0px 20px;
  background-color: #2c3639;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 350px;
}

.login_imagen img {
  max-height: 70%;
}

#login {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 100%;
  width: 85%;
  padding: 30px 40px;
  border-radius: 0px 20px 20px 0px;
  max-width: 350px;
}

.login_label {
  margin-bottom: 20px;
  margin-top: 20px;
}

.login_input {
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
}

.login_olvido {
  display: block;
  text-align: right;
  color: #5fd068;
  text-decoration: none;
  font-size: 13px;
  margin: 10px;
}

#login_enviar {
  background-color: #5fd068;
  padding: 10px;
  margin: 20px;
  border-radius: 4px;
}

#login_enviar:hover {
  cursor: pointer;
  background-color: #7dd184;
}

.login_crear {
  display: block;
  text-align: center;
  color: #5fd068;
  text-decoration: none;
  font-size: 13px;
  margin: 10px;
}

.login_crear:hover,
.login_olvido:hover {
  color: #27aa32;
}

@media screen and (max-width: 768px) {
  .login_container {
    flex-direction: column;
    margin-top: 220px;
  }
  .login_imagen {
    border-radius: 20px 20px 0px 0px;
    max-width: 600px;
  }
  #login {
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    max-width: 600px;
  }
}
